<div class="container-fluid"> <!-- contenedor principal de la aplicacion -->
	<div class="row"> 
		<app-nav></app-nav>	<!-- barra de navegacion superior -->
	</div>
	<div class="row">
		<div class="col-md-2"> <!-- columna de la sidebar izquierda -->
			<app-sidebar></app-sidebar> 
		</div>
		<div class="col-md-10"> <!-- columna de la main view -->
				
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>Bienvenido!</strong> Utilice las opciones de la barra de navegación para ingresar a los diferentes módulos.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			<app-main-view></app-main-view> 
		</div>
	</div>
</div>
