<!--
Este componente arma dinamicamente el menu, tomandolo directamente desde el servicio mensajero
Tengo que pensar si esto esta bien desde la teoria de angular o si no corresponde en realidad.
-->

<!-- el ngFor lee el menu activo -->
<div class="list-group">
	<!-- se populan las opciones y atributos con cada elemento -->
	<a *ngFor="let item of lMenuActivo()" routerLink="{{ item.url }}" class="list-group-item list-group-item-action" routerLinkActive="active" [hidden]="!item.visible">{{ item.name }}</a>
</div>
