<div class="container-fluid">
		<div class="calendar">
			<h3> Módulo 1 cargado exitosamente.</h3>

	    <div class="month">
	        <ul>
	            <a href="">
	                <li class="prev">&#10094;</li>
	            </a>
	            <a href="">
	                <li class="next">&#10095;</li>
	            </a>
	            <li>
	                Julio<br>
	                <span style="font-size:18px">2018</span>
	            </li>
		</ul>
	    </div>

	    	<ul class="weekdays">
		        <li>Do</li>
		        <li>Lu</li>
		        <li>Ma</li>
		        <li>Mi</li>
		        <li>Ju</li>
		        <li>Vi</li>
		        <li>Sa</li>
	    	</ul>

	    	<ul class="days">
	    		<!--<li>espaciador</li>-->
	    		<li><a href="">1</a></li>
	    		<li><a href="">2</a></li>
	    		<li><a href="">3</a></li>
	    		<li><a href="">4</a></li>
	    		<li><a href="">5</a></li>
	    		<li><a href="">6</a></li>
	    		<li><a href="">7</a></li>
	    		<li><a href="">8</a></li>
	    		<li><a href="">9</a></li>
	    		<li><a href="">10</a></li>
	    		<li><a href="">11</a></li>
	    		<li><a href="">12</a></li>
	    		<li><a href="">13</a></li>
	    		<li><a href="">14</a></li>
	    		<li><a href="">15</a></li>
	    		<li><a href="">16</a></li>
	    		<li><a href="">17</a></li>
	            <li><a href=""><span class="active">18</span></a></li>
	            <li><a href="">19</a></li>
	            <li><a href="">20</a></li>
	            <li><a href="">21</a></li>
	            <li><a href="">22</a></li>
	            <li><a href="">23</a></li>
	            <li><a href="">24</a></li>
	            <li><a href="">25</a></li>
	            <li><a href="">26</a></li>
	            <li><a href="">27</a></li>
	            <li><a href="">28</a></li>
	            <li><a href="">29</a></li>
	            <li><a href="">30</a></li>
	            <li><a href="">31</a></li>
	    	</ul>
		</div>		
</div>